body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*   display: flex;
  justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: center;
}

.header-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0.2rem;
  border-radius: 4px;
  width: 40rem;
}

.header-background > h1 {
  margin: 0;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: 'Righteous', serif;
  font-size: 3rem;
  text-shadow: 0.03em 0.03em 0 rgb(0, 0, 0);
}

.content {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 5rem 0.5rem;
}
